@charset "UTF-8";

/*Fonte*/
@font-face {
    font-family: 'idroid';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*/

:root {
    --cor0:#ff2600;
    --cor1:#79A3D9;
    --cor2:#9AB5D9;
    --cor3:#F2F2F2;
    --cor4:#000000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

header > h1 {
    color: var(--cor0);
    font-family: var(--fonte-destaque);
}

p {
    font-family: "Bebas Neue", var(--fonte-padrao);
    font-weight: 400;
    font-style: normal;
}

main h1 {
    font-family: idroid;
}
  