@charset "UTF-8";

/*Fonte*/
@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0:#0004ff;
    --cor1:#79A3D9;
    --cor2:#9AB5D9;
    --cor3:#F2F2F2;
    --cor4:#000000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor2);
}

header > nav {
    background-color: var(--cor1);
}

header > p {
    color: var(--cor3);
}

header > h1 {
    color: var(--cor0);
    font-family: var(--fonte-destaque);
}

main {
    background-color:var(--cor3);
}

main h1 {
    font-family: idroid;
}

main h2 {
    font-family: idroid;
}
  
footer {
    background-color: var(--cor0);
    color: var(--cor3);
}